.page-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEEFE5;

  .form-login {
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 0px 6px 0px rgba(150, 150, 150, 1);
    background-color: #eeeeee;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;

    .style-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 180px;
      overflow: hidden;

      .left {
        background-color: #FA003Fcc;
        width: 700px;
        height: 100%;
        transform: rotate(-15deg) translate(-15px, -96px);
      }

      .right {
        background-color: #FA003F3f;
        width: 700px;
        height: 150px;
        transform: rotate(15deg) translate(-100px, -250px);
      }
    }

    .title {
      margin-top: 150px;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: #FA003F;
      margin-bottom: 20px;
    }

    .fields {
      margin-bottom: 10px;

      .field {
        margin-bottom: 5px;
      }
    }

    .btn-login {
      margin: 20px 0;
      border-radius: 15px;
    }

    .forgot-password {
      text-align: center;
      font-weight: 500;
      font-size: 16px;
    }

    .sign-up {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      font-size: 16px;

      .icon {
        margin-left: 10px;
      }

      &:hover {
        color: #FA003F;
      }
    }
  }
}
