body {
  font-family: 'sans-serif';
  margin: 0;

  #root {
    min-height: 100vh;
  }
}

.body-page {
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

.error-color {
  color: red;
  text-align: right;
  margin-bottom: 10px;
}

#circle-loading {
  background: #dddddd;
  position: fixed;
  z-index: 2;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    width: 6em;
    height: 6em;
    background: #2CA6A4;
    border-radius: 10px;

    animation: load2 2s infinite ease;
  }
}


@keyframes load2 {
  0% {
    transform: rotate(0deg) scale(1.2);
    border-radius: 10px;
  }

  50% {
    transform: rotate(180deg) scale(1);
    border-radius: 50%;
    background: #FFC600;
  }

  100% {
    transform: rotate(360deg) scale(1.2);
    border-radius: 10px;
  }
}