.header-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  background: #ffffff;
  box-shadow: 0 8px 6px -6px #333;

  .header {
    display: flex;
    align-items: center;
    height: 100%;

    .languages {
      flex: 1;
      display: flex;
      justify-content: flex-start;

      .flag {
        width: 50px;
        margin: 0 10px;
        opacity: 0.7;
        cursor: pointer;
        transition: all 0.3s;

        &.active {
          opacity: 1;
        }
      }
    }

    .logo {
      flex: 2;
      display: flex;
      justify-content: center;
    }

    .auth {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}
