@bg-loading: #dddddd;

.loading-component {
  background: @bg-loading;
  position: fixed;
  // z-index: 2;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .txt-loading {
    margin-top: 20px;
    font-size: 16px;
    color: #FA003F;
    animation: rubberBand 1s infinite;
  }

  .lds-ripple {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 100px;
    height: 100px;

    &::after {
      content: "";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border: 32px solid #FA003F;
      border-color: #FA003F transparent #FA003F transparent;
      animation: lds-hourglass 1.2s infinite;
    }
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}